.App {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  min-height: 100vh;
  margin: auto;
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  border: none;
  padding: 10px 20px;
}
.recipies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
